body {
    background-color: rgb(246, 246, 225) !important;
}

.myName {
    text-align: center;
}

.center {
    text-align: center;
}

.intro {
    background-image: url('C:\Users\nati0\Desktop\portfolio\src\photos\oriental_background.png') !important;
}


.myPicture {
    width: 17%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.jobTitle {
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 25px;
}

.socials {
    background-image: url('C:\Users\nati0\Desktop\portfolio\src\photos\oriental_background.png') !important;
    padding-top: 75px;
    padding-bottom: 75px;
}

.projectPhoto {
    width: 86%;
    height: 250px;
}

.project {
    width: 100%;
    margin-left: 5px;
    margin-right: 75px;
}

.projectName {
    text-align: center !important;
}

.projectDesc {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;
    
    
}


.repo {
    border-radius: 30px !important;
}